.appearance__container {
  border: 1px solid var(--theme-border);
  border-radius: 6px;
  padding: 12px;
  background-color: var(--theme-bg-with-opacity);
  max-height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

.appearance__theme-selection-container {
  border-bottom: 1px solid var(--theme-border);
  padding-bottom: 12px;
}

.appearance__wallpaper-upload-container,
.appearance__theme-color-selection-container,
.appearance__wallpaper-blur-container,
.appearance__wallpaper-type-container,
.appearance__dynamic-theme-container {
  padding: 12px 0;
  border-bottom: 1px solid var(--theme-border);
}

.appearance__dynamic-theme-container {
  border-bottom: none;
}

.appearance__theme-selection-container,
.appearance__wallpaper-upload-container,
.appearance__wallpaper-selection-container,
.appearance__theme-color-selection-container,
.appearance__wallpaper-blur-container,
.appearance__wallpaper-type-container,
.appearance__dynamic-theme-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 600;
}

.appearance__theme-selection {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.appearance__theme-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-size: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--theme-clr);
}

.appearance__theme-image {
  width: 90px;
  border-radius: 8px;
  border: 1px solid var(--theme-border);
  overflow: hidden;
  height: 60px;
}

.appearance__theme-option.selected .appearance__theme-image {
  box-shadow: 0 0 0 3px #0275f4;
  border: none;
}

.appearance__theme-option .appearance__theme-label {
  opacity: 0.8;
  font-size: 0.75rem;
}

.appearance__theme-option.selected .appearance__theme-label {
  opacity: 1;
  font-weight: bold;
}

.image-picker {
  display: inline-block;
  position: relative;
  font-size: 0.875rem;
}

.file-label {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  background-color: var(--theme-button-bg);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 0.75rem;
}

.file-label span {
  color: var(--theme-clr);
  font-weight: bold;
}

.image-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.appearance__wallpaper-actions-container {
  display: flex;
  gap: 8px;
}

.appearance__wallpaper-delete {
  background: var(--theme-button-bg);
  border-radius: 6px;
  height: 24px;
  width: 24px;
  outline: none;
  border: none;
  color: var(--theme-clr);
  align-self: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
}

.appearance__wallpaper-delete svg {
  width: 100%;
  height: 100%;
}

.appearance__wallpaper-selection-container {
  padding-top: 12px;
}

.appearance__wallpaper-image {
  width: 90px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid var(--theme-border);
  overflow: hidden;
}

.appearance__wallpaper-option {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.appearance__wallpaper-selection-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 360px;
}

.appearance__theme-color-selection,
.appearance__wallpaper-blur-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.appearance__theme-color-option {
  border: 0;
  outline: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    var(--theme-selection-color) 50%,
    var(--theme-bg) 0%
  );
}

.appearance__theme-color-option.selected {
  outline: 2px solid black;
}

.appearance__theme-color-option.theme-none {
  background: linear-gradient(
    45deg,
    transparent 44%,
    red 46%,
    red 54%,
    transparent 56%
  );
  border: 1px solid black;
}

.appearance__theme-color-option.theme-none.selected {
  border: none;
}

.wallpaper-none {
  background: linear-gradient(
    30deg,
    transparent 48%,
    red 41%,
    red 52%,
    transparent 54%
  );
  width: 90px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid var(--theme-border);
}
