.search__container {
  height: 52px;
  padding: 10px;
  background: var(--theme-bg);
  border-radius: 16px;
  display: flex;
  align-items: center;
  border: 1px solid var(--theme-border);
  box-shadow: 0px 10px 34px var(--theme-shadow);
  min-width: 640px;
}

.search__container input {
  height: 100%;
  border: none;
  background: inherit;
  width: 100%;
  outline: none;
  font-size: 1.8rem;
  color: var(--theme-clr);
  caret-color: var(--input-caret-color);
}

.search-icon__container {
  height: 100%;
  color: var(--input-search-icon-color);
}

.voice-search {
  margin: 0;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
  margin-right: 8px;
  height: 40px;
}

.voice-search svg {
  height: 40px;
  width: 40px;
  transform: scale(1);
  transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.voice-search svg.animate,
.voice-search:focus-visible svg {
  transform: scale(1.5);
}

.voice-search svg.animate .pulse {
  animation: pulse var(--pulse-animation-time) infinite linear;
  transform-origin: 50%;
}

@keyframes pulse {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.8;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.pulse-0 {
  --pulse-animation-time: 20s;
}

.pulse-1 {
  --pulse-animation-time: 4s;
}

.pulse-2 {
  --pulse-animation-time: 4.3s;
}

.pulse-3 {
  --pulse-animation-time: 5s;
}

.pulse-4 {
  --pulse-animation-time: 6s;
}

.hidden-voice-search-button {
  position: absolute;
  visibility: hidden;
}
