.launchpad__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  transition: backdrop-filter 0.5s ease;
  padding: 80px;
}

.launchpad__overlay.visible {
  backdrop-filter: blur(30px) saturate(150%) brightness(0.7);
  -webkit-backdrop-filter: blur(30px) saturate(150%) brightness(0.7);
  pointer-events: auto;
  overflow: auto;
}

.launchpad__overlay.modal-accessible {
  visibility: visible;
}

.launchpad__overlay.modal-inaccessible {
  visibility: hidden;
}

.launchpad__container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  column-gap: 30px;
  row-gap: 10px;
  justify-content: center;
  transform: scale(1.1);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.launchpad__overlay.visible .launchpad__container {
  transform: scale(1);
  opacity: 1;
}

@media screen and (max-width: 1320px) {
  .launchpad__container {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
}

@media screen and (max-width: 1220px) {
  .launchpad__container {
    grid-template-columns: auto auto auto auto auto auto;
  }
}

@media screen and (max-width: 1140px) {
  .launchpad__container {
    grid-template-columns: auto auto auto auto auto;
  }
}

@media screen and (max-width: 1020px) {
  .launchpad__container {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (max-width: 900px) {
  .launchpad__container {
    grid-template-columns: auto auto auto;
  }
}

.launchpad-item,
.bookmark-item {
  text-decoration: none;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 120px;
  padding: 20px;
  cursor: pointer;
}

.launchpad-item:hover .launchpad-item__label {
  max-width: 160px;
}

.launchpad-item__logo {
  width: 70px;
  height: 70px;
  background-color: #fcfcfc;
  border-radius: 12px;
  padding: 6px;
}
.launchpad-item__logo svg {
  width: 100%;
  height: 100%;
}

.launchpad-item__label,
.bookmark-item__label {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  transition: max-width 0.5s ease;
}

.launchpad__tab {
  position: sticky;
  top: -24px;
  margin: 0 auto;
  width: fit-content;
  z-index: 2;
  border: 1px solid var(--theme-border);
  padding: 2px;
  border-radius: 4px;
  background-color: var(--theme-bg);
  display: flex;
  align-items: center;
  flex-direction: row;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(-38px);
}

.launchpad__tab__button {
  background: transparent;
  border: none;
  border-radius: 2px;
  color: var(--theme-clr);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
}

.launchpad__tab__button.selected {
  background: var(--launchpad-tab-selected-bg);
}

.launchpad__overlay.visible .launchpad__tab {
  transform: translateY(-32px) scale(1);
  opacity: 1;
}

.launchpad__bookmarks__container {
  transform: scale(1.1);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.bookmark-group {
  padding-left: 12px;
  margin: 12px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 12px;
  color: white;
}

.bookmark-item {
  text-decoration: none;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 120px;
  padding: 20px;
  cursor: pointer;
}

.bookmark-item__icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.bookmark-group-title {
  font-size: 0.875rem;
  font-weight: 700;
}

.launchpad__overlay.visible .launchpad__bookmarks__container {
  transform: scale(1);
  opacity: 1;
}

.launchpad__search-container {
  height: 26px;
  min-height: 26px;
  padding: 0 6px;
  background: var(--theme-bg-with-opacity);
  border-radius: 4px;
  border: 1px solid var(--theme-border);
  width: 100%;
  margin: 0 auto 10px;
  max-width: 260px;
  transform: scale(1.1);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.launchpad__search-container input {
  height: 100%;
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  font-size: 0.875rem;
  color: var(--theme-clr);
}

.launchpad__search-container input::placeholder {
  color: var(--theme-clr);
  opacity: 0.8;
}

.launchpad__overlay.visible .launchpad__search-container {
  transform: scale(1);
  opacity: 1;
}

.bookmark-item {
  position: relative;
}

.bookmark-item__delete {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
}

.bookmark-item:hover .bookmark-item__delete {
  display: block;
}
