.clock-2__bezel {
  background-color: white;
  box-shadow: 0px 0px 4px var(--theme-shadow);
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.clock-2__bezel.dark {
  background-color: black;
}

.clock-2__bezel .clock-2__hand {
  color: #1c1c1e;
}

.clock-2__bezel.dark .clock-2__hand {
  color: white;
}

.clock-2__hand {
  position: absolute;
  height: 100%;
  transform: rotate(var(--hand-deg, 0deg));
}

.clock-2__container .hour-number {
  position: absolute;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  --hour-number-rotation: calc(var(--hour-counter) * 30deg);
  transform: rotate(var(--hour-number-rotation)) translateY(-56px)
    rotate(calc(1turn - var(--hour-number-rotation)));
}

.clock-2__bezel.dark .hour-number {
  color: white;
}
