.general__container {
  border: 1px solid var(--theme-border);
  border-radius: 6px;
  padding: 0 12px;
  background-color: var(--theme-bg-with-opacity);
  width: 100%;
  max-height: calc(100% - 60px);
  overflow: auto;
}

.general__row-item {
  padding: 12px 0;
  border-bottom: 1px solid var(--theme-border);
  font-size: 0.875rem;
  font-weight: 600;
}

.general__row-item:not(.with-description),
.language-selection-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.general__row-item.disabled {
  opacity: 0.5;
  filter: saturate(0);
  pointer-events: none;
}

.general__container .general__row-item:last-child {
  border-bottom: none;
}

.voice-search-warning {
  color: #ff5d59;
  font-size: 0.688rem;
}
