.calendar-1__container {
  --calendar-background: var(--widget-background);
  --calendar-week-text-color: #ff453a;
  --calendar-month-text-color: #a1a1a1;

  background-color: var(--calendar-background);
  box-shadow: 0px 0px 4px var(--theme-shadow);
  padding: 12px;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

.calendar-1__top-section {
  display: flex;
  gap: 8px;
  flex-direction: row;
  word-break: break-word;
  font-size: 1.2rem;
}

.App[lang="en"] .calendar-1__top-section {
  font-size: 2.2rem;
}

.calendar-1__week {
  color: var(--calendar-week-text-color);
}

.calendar-1__month {
  color: var(--calendar-month-text-color);
}

.calendar-1__bottom-section {
  color: var(--calendar-date-text-color);
  font-size: 8rem;
  line-height: 0.8;
}
