.clock-1__container {
  --clock-background: #b3b2b3;
  --clock-dial-background: #ffffff;
}

.clock-1__bezel {
  background-color: var(--clock-background);
  box-shadow: 0px 0px 4px black;
  padding: 12px;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 24px;
}

.clock-1__dial {
  background-color: var(--clock-dial-background);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.clock-1__hand {
  position: absolute;
  height: 100%;
  transform: rotate(var(--hand-deg, 0deg));
}

.hour-number {
  position: absolute;
  color: black;
  font-size: 1.125rem;
  font-weight: bold;
  --hour-number-rotation: calc(var(--hour-counter) * 30deg);
  transform: rotate(var(--hour-number-rotation)) translateY(-64px)
    rotate(calc(1turn - var(--hour-number-rotation)));
}

@media (prefers-color-scheme: dark) {
  .clock-1__container {
    --clock-background: #24272b;
    --clock-dial-background: #ffffff;
  }
}
