.App {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-bg);
  color: var(--theme-clr);
}

.App.theme-system,
.App.theme-light {
  --theme-bg: #efefee;
  --theme-bg-with-opacity: #efefee9e;
  --theme-clr: #272727;
  --theme-shadow: #adadad;
  --theme-border: #c6c6c6;
  --widget-background: #ffffff;

  --window-expand-bg: #959595;
  --active-window-indicator: #2c2c2c;

  --calendar-date-text-color: #272727;

  --clock-1-background: #b3b2b3;
  --clock-1-dial-background: #ffffff;

  --input-caret-color: #015ce0;

  --input-search-icon-color: #6c6d6b;

  --search-engine-tile-indicator-bg: #d2d2d0;
  --search-engine-tile-icon-clr: #595958;
}

@media (prefers-color-scheme: dark) {
  .App.theme-system,
  .App.theme-dark {
    --theme-bg: #2e2d2c;
    --theme-bg-with-opacity: #2e2d2c9e;
    --theme-clr: #dfdfdf;
    --theme-shadow: black;
    --theme-border: #585856;
    --widget-background: #2e2e2e;

    --window-expand-bg: #878787;
    --active-window-indicator: #c4c5c5;

    --calendar-date-text-color: #dfdfdf;

    --clock-1-background: #24272b;
    --clock-1-dial-background: #ffffff;

    --input-caret-color: #71ccff;

    --input-search-icon-color: #a6a6a5;

    --search-engine-tile-indicator-bg: #555657;
    --search-engine-tile-icon-clr: #e6f0f7;
  }

  .App.theme-system .search-engine-switcher__tile-selection-indicator.selected,
  .App.theme-dark .search-engine-switcher__tile-selection-indicator.selected {
    --search-engine-tile-icon-clr: white;
  }
}

.main-content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-2 {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: center;
}

.settings-icon {
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.settings-icon.settings-active::after {
  content: " ";
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 50%;
  margin: auto;
  margin-top: 6px;
  background-color: var(--active-window-indicator);
}

@media screen and (max-width: 1080px) {
  .main-content {
    gap: 50px;
  }
}

@media screen and (max-width: 960px) {
  .main-content {
    grid-template-columns: auto;
  }
  .section-1 {
    flex-direction: row;
  }
}
