.App {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-bg);
  color: var(--theme-clr);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center center;
}

body {
  background-color: var(--theme-bg);
  color: var(--theme-clr);
}

.App.theme-system,
body:has(.App.theme-system),
.App.theme-light,
body:has(.App.theme-light) {
  --theme-bg: #efefee;
  --theme-bg-with-opacity: #efeeee9e;
  --theme-bg-dock: #efeeee6b;
  --theme-clr: #272727;
  --theme-shadow: #adadad;
  --theme-border: #c6c6c6;
  --theme-link-clr: #4b4bff;
  --theme-button-bg: #fdfdfd;
  --theme-toggle-bg: #ccc;
  --theme-bg-blur: blur(60px) saturate(150%);
  --theme-bg-blur-30: blur(30px) saturate(150%);

  --widget-background: #ffffff;

  --window-expand-bg: #959595;
  --active-window-indicator: #2c2c2c;

  --calendar-date-text-color: #272727;

  --clock-1-background: #b3b2b3;
  --clock-1-dial-background: #ffffff;

  --input-caret-color: #015ce0;

  --input-search-icon-color: #6c6d6b;

  --search-engine-tile-indicator-bg: #d2d2d0;
  --search-engine-tile-icon-clr: #595958;

  --settings-side-panel-blur: blur(60px) saturate(150%) brightness(0.98);
  --settings-side-panel-text-color: #3d3d3d;
}

@media (prefers-color-scheme: dark) {
  .App.theme-system,
  body:has(.App.theme-system),
  .App.theme-dark,
  body:has(.App.theme-dark) {
    --theme-bg: #2e2d2c;
    --theme-bg-with-opacity: #2e2d2c9e;
    --theme-bg-dock: transparent;
    --theme-clr: #dfdfdf;
    --theme-shadow: black;
    --theme-border: #585856;
    --theme-link-clr: #9ba6ff;
    --theme-button-bg: #656665;
    --theme-toggle-bg: #656665;
    --theme-bg-blur: blur(60px) saturate(150%);
    --theme-bg-blur-30: blur(30px) saturate(150%);

    --widget-background: #2e2e2e;

    --window-expand-bg: #878787;
    --active-window-indicator: #c4c5c5;

    --calendar-date-text-color: #dfdfdf;

    --clock-1-background: #24272b;
    --clock-1-dial-background: #ffffff;

    --input-caret-color: #71ccff;

    --input-search-icon-color: #a6a6a5;

    --search-engine-tile-indicator-bg: #555657;
    --search-engine-tile-icon-clr: #e6f0f7;

    --settings-side-panel-blur: blur(60px) saturate(150%) brightness(0.7);
    --settings-side-panel-text-color: white;
  }

  .App.theme-system .search-engine-switcher__tile-selection-indicator.selected,
  .App.theme-dark .search-engine-switcher__tile-selection-indicator.selected {
    --search-engine-tile-icon-clr: white;
  }
}

.main-content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-2 {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: center;
}

.accessible:focus-visible,
.accessible:has(input:focus-visible),
button:focus-visible {
  outline: 2px solid rgb(83 83 255);
  outline-offset: 0px;
  border-radius: 12px;
}

.greeting {
  color: var(--theme-clr);
  font-size: 1.6rem;
  font-weight: 600;
}

.App.has-bg .greeting {
  text-shadow: 1px 1px 2px var(--theme-shadow);
}

.tooltip {
  position: relative;
}

.tooltip:hover::after {
  content: attr(data-label);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-16px);
  padding: 8px 16px;
  background-color: var(--theme-bg);
  font-size: 14px;
  border-radius: 8px;
  color: var(--theme-clr);
  white-space: nowrap;
  border: 1px solid var(--theme-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.tooltip:hover::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 5px);
  left: 50%;
  transform: translateX(-50%) translateY(-14px) rotate(45deg);
  width: 14px;
  height: 14px;
  background-color: var(--theme-bg);
  z-index: 6;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 12px;
  border-bottom: 1px solid var(--theme-border);
  border-right: 1px solid var(--theme-border);
}

/* TODO: tooltip left positioning not working as expected
to be revisited in future */
.tooltip-left:hover::after,
.tooltip-left:hover::before {
  display: none;
}

.tooltip-right:hover::after {
  left: unset;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%) translateX(19px);
}

.tooltip-right.with-link:hover::after {
  transform: translateY(-50%) translateX(63px);
}

.tooltip-right:hover::before {
  left: unset;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%) translateX(56px) rotate(135deg);
}

@media screen and (max-width: 1080px) {
  .main-content {
    gap: 50px;
  }
}

@media screen and (max-width: 960px) {
  .main-content {
    grid-template-columns: auto;
  }
  .section-1 {
    flex-direction: row;
  }
}
